{% extends "::base.html.twig" %}

{% block title %}AppBundle:ResponsabileProduzione:conclusi{% endblock %}

{% block body %}
<h1>Welcome to the ResponsabileProduzione:conclusi page</h1>
{% endblock %}
