{% extends "::base.html.twig" %}

{% block title %}AppBundle:ResponsabileProduzione:daeseguire{% endblock %}

{% block body %}
<h1>Welcome to the ResponsabileProduzione:daeseguire page</h1>
{% endblock %}
