{% extends "::base.html.twig" %}

{% block title %}AppBundle:ResponsabileProduzione:inProduzione{% endblock %}

{% block body %}
<h1>Welcome to the ResponsabileProduzione:inProduzione page</h1>
{% endblock %}
