{% extends "::base.html.twig" %}

{% block title %}AppBundle:ResponsabileProduzione:operatori{% endblock %}

{% block body %}
<h1>Welcome to the ResponsabileProduzione:operatori page</h1>
{% endblock %}
