/*Layout della pagina*/
html, body
{height: 100%;
width: 100%;
overflow-y: hidden;
overflow-x: hidden; }

body{ 
  font-family: 'Open Sans', sans-serif; 
  text-align: center; 
  margin: 0px; 
  line-height: 20px;
   }

div.conteiner{
  position: relative;
  height: 95%;}

  /* rgb(245,250,255)*/
.aside{ 
  width:15%;
  float: left;  
  position: relative; 
  border: 1px solid rgb(195,195,195); 
  height: 100%; 
  background-color: #f5faff;  }

div#corpo{
  width:84.8%; 
  background:#ffffff; 
  left: 15%; 
  position: absolute; 
  border: 1px solid rgb(195,195,195); 
  height: 85%;
  display: inline-block;
  box-shadow: 2px #616161;
  overflow-y: scroll;
  overflow-x: hidden;
   }

header{
  height: 6%; 
  width: 100%; 
  background: linear-gradient(to right,#0064C0,#00c8ff); 
  border: 1px solid rgb(195,195,195);}

footer{ 
  height: 14.5%; 
  left: 15%; 
  float: bottom; 
  width: 85%; 
  top: 84.8%; 
  position: relative; 
  border-top: 1px solid rgb(195,195,195);
  background-color: #f5faff; }

footer p {
  color: #555; 
  font-family: 'Open Sans', sans-serif; 
  position: relative; 
  top: 50%; }

 header img#logo{
  float: left; 
  height: 80%; 
  width:20%; 
  left: 2%; 
  top: 10%; 
  position: relative; }
/*---fine Layout pagina*/


/*Layout menu header*/
header nav.menu ul li { 
  border-left: 5px;
  height: 30px;
  margin: 2px 0px;
  display:block;}

header nav.menu ul li a{
  color: #ffffff; 
  display: block; 
  font-weight: bold; 
  line-height: 30px; 
  padding-left: 15px; 
  text-decoration: none; 
  width: 135px; 
  height: 30px;}

header ul{ 
  font-weight: 500; 
  font-size: 14px; 
  margin: 0; 
  padding: 0; 
  list-style: none;}

header nav ul li {
  float:left;}

header nav{
  left:30%; 
  top: 25%; 
  position: relative;}

header nav.menu ul li.active, header nav.menu  ul li:hover {
  background-color: #0064C0; 
  border-left: 5px solid #00c8ff;}

/*layout menu aside*/
.aside{text-align: left;}
.aside ul{
  list-style: none; 
  padding-right: 15px; 
  margin-bottom: 0px;
  margin-left: 17px; 
  margin-top: 5px; 
  font-size: 20px; 
  padding: 0; 
  margin: 0 0 10px 25px; 
  display: block; }

.aside ul li {
  position: relative; 
  line-height: 16px;  }

.aside nav {
  top: 5%; 
  position: relative;}

.aside ul li a{
  color:rgba(0,42,90,1); 
  display: block; 
  margin-right: -15px; 
  margin-left: -9px; 
  padding: 12px 14px 15px 14px; 
  margin-bottom: 5px; 
  border-bottom: 1px solid #E4F1FF; 
  box-shadow: 0 2px 1px -1px #FFFFFF; 
  outline: 0px; 
  width: 88%; 
  text-decoration: none; 
  font-weight: 500;
  font-size: 16px;}

.aside nav ul li:hover, .aside nav ul li.active{
  background-color: #ffffff;}
img.icon {
  width: 30px; 
  height: 30px; 
  position: relative; 
  vertical-align: middle;}
/*--- fine layout menu aside*/
/*---- fine Layout menu*/

/* formattazione tabelle*/

tr.dettagli{
  display: none;}
/*fine formattazione tabelle
/*Contenuto tabella*/
 img.freccia{
  width: 15px; 
  height: 15px; 
  left: 15%; 
  position: relative;}
 
 progress{
  border-radius: 3px; 
  border-color: #c3c3c3; 
  background: linear-gradient(to right,#0064C0,#00c8ff)}

/*---fine contenuto tabella*/

/*layout corpo*/
/*border: 1px solid rgb(195,195,195); */
section{ 
  color: #555; 
  font-family: 'Open Sans', sans-serif; 
  background-color: #ffffff;  
  position: relative; 
  left: 0.5%; 
  margin: inherit; 
  padding: 2px;}  

section.top{
  width:30%; 
  height: 10%;} 

section.t1{
  width: 97%; 
  top: 1%;}

section.t2{
  float: left; 
  display: block; }

section.ric {
  position: relative; 
  left: 49.5%; }

section.t2, section.ric{
  width: 48%; 
  position: relative;
  top: 2%;}

section h4:hover{color:#00c8ff;}

section.t1, section.t2, section.ric, {
  height: 40%; 
  box-shadow: 2px 1px 1px 1px #c3c3c3;}

section.form{
  box-shadow: 2px 1px 1px 1px #c3c3c3;
  position: relative;
  top: 1.5%;
  text-align: left;
}

section.form a{position: relative; left: 70%;  }

section.t1 h4 span {color:rgb(34,177,76);}

section.t2 h4 span {color:rgb(196,0,0);}

section h1{
  text-align: left; 
  color: #696d73; 
  font-style: italic; 
  font-weight: normal; 
  font-size: 22.5px;}

section.ric div{
  height: 30%; 
  position: absolute; 
  top: 35%; 
  width: 100%;}

section.ric h4{ 
  color: rgb(255,204,0); 
  position: absolute; }
/*fine layout corpo*/


/*Formattazione Tabelle*/

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5fafc;
}


.table thead{
	border-top:1px solid #dee3ea;
}

.table thead th{
	font-weight: bold;
	position: relative;
	padding-bottom: 20px;
	padding-top: 5px;
	text-transform: uppercase;
	font-size: 11px;
	vertical-align: top;
}
.table td{
	color: #526273;
	border-top-color: #edf2f7;
	vertical-align: middle;
	cursor: pointer;
}
table tr.first td{
	border-top: 0 none;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #f5f5f5;
}

.table td.span1,
.table th.span1 {
  float: none;
  width: 44px;
  margin-left: 0;
}

.table td.span2,
.table th.span2 {
  float: none;
  width: 124px;
  margin-left: 0;
}

.table td.span3,
.table th.span3 {
  float: none;
  width: 204px;
  margin-left: 0;
}

.table td.span4,
.table th.span4 {
  float: none;
  width: 284px;
  margin-left: 0;
}

.table td.span5,
.table th.span5 {
  float: none;
  width: 364px;
  margin-left: 0;
}

.table td.span6,
.table th.span6 {
  float: none;
  width: 444px;
  margin-left: 0;
}

.table td.span7,
.table th.span7 {
  float: none;
  width: 524px;
  margin-left: 0;
}

.table td.span8,
.table th.span8 {
  float: none;
  width: 604px;
  margin-left: 0;
}

.table td.span9,
.table th.span9 {
  float: none;
  width: 684px;
  margin-left: 0;
}

.table td.span10,
.table th.span10 {
  float: none;
  width: 764px;
  margin-left: 0;
}

.table td.span11,
.table th.span11 {
  float: none;
  width: 844px;
  margin-left: 0;
}

.table td.span12,
.table th.span12 {
  float: none;
  width: 924px;
  margin-left: 0;
}

/*------fine Formattazione Tabelle*/

body {
	font-family: 'Open Sans', sans-serif;
	/*background-color: #f7f7f7; rev105*/
	background-color: #F5FAFF;
	position: relative;
	margin: 0px 0px 0px 0px; /*	margin: 47px 0px 0px 0px;*/
	font-size: 12px;
	padding: 0px;
	/*-webkit-font-smoothing: antialiased;*/
}

/*Formattazione titoli H*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
  font-weight: normal;
}



h1,h2,h3,h4,h5 {
	margin: 0;
	line-height: inherit;
	color: #29323d;
  margin-bottom: 15px;
}

h4 {
	margin: 0 0 0 20px;
	color: #696d73;
	font-style: italic;
	font-size: 17.5px;
	text-align: left;
}

h3 {
  margin: 0 0 0 20px;
  color: #0088cc;
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    line-height: 1.42;
    color: #000;
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small {
    font-weight: normal;
    line-height: 1;
    color: #aeafb1;
}

h1,h2,h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 300;
}

h4,h5,h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro','Open Sans','Segoe UI','Droid Sans',Tahoma,Arial,sans-serif;
    font-weight: 400;
}

h1,.h1 {
    font-size: 38px;
}

h2,.h2 {
    font-size: 33px;
}

h3,.h3 {
    font-size: 24px;
}

h4,.h4 {
    font-size: 18px;
}

h5,.h5 {
    font-size: 14px;
}

h6,.h6 {
    font-size: 12px;
}

h1 small,.h1 small {
    font-size: 24px;
}

h2 small,.h2 small {
    font-size: 18px;
}

h3 small,.h3 small,h4 small,.h4 small {
    font-size: 14px;
}

/*---fine Formattazione titoli H*/

/*Formattazione text di ricerca*/
 input.search{
	background: url("../src/lens.png") #fcfcfc no-repeat 95%;
	box-shadow: none;
	height: 19px;
	font-size: 13px;
	padding: 2px 6px;
	border:1px solid #d0dde9;
	margin: 0;
	border-radius: 2px;
	top: 11px;
	width: 206px;
	font-size: 14px;
 	font-weight: normal;
  	line-height: 20px;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	vertical-align: middle;
}
/*---- fine Formattazione text di ricerca*/


/*Formattazione pulsanti*/ 
.btn-flat.primary{
  background: #007CE4;
  border: 1px solid #007CE4;
}
.btn-flat.primary:active{
  background: rgb(43, 118, 182);
  color: rgb(237, 246, 253);
}
.btn-flat.primary:hover{
  background: #FFFFFF;
  color: #007CE4;
}

.btn-flat{ 
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  line-height: 15px;
   vertical-align: middle;
  font-size: 12px;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  border: 0 none;
  color: #fff;
  font-weight: 600;
  border-radius: 4px; /* 30px */
  background: #4387bf;
  border: 1px solid rgb(56, 131, 192);
  cursor: pointer;
  padding: 7px 14px;
  -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
}
.btn-flat:active {
  -webkit-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3) inset;
  -moz-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3) inset;
  box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3) inset;
}
.btn-flat:hover{
  text-decoration: none;
  opacity: 0.87;
  color: #fff;
}
.btn-flat:active{
  background: rgb(48, 98, 139);
  opacity: 1;
}

a {
  color: #0088cc;
  text-decoration: none;
}

/*--- fine Formattazione pulsanti*/

  

/*Formattazione Form*/
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

section.form table{position: relative; left: 2%;}

.label{
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  border-radius: 3px;
  font-weight: lighter;}

  .label-rossa{background-color: #E90B06;}

  .label-verde{background-color: #4CBE00;}

  .label-gialla{background-color: #F6E200; color: #000000;}

  /*---fine formattazione form*/
  
  
  /*---- formatazzione progress bar ordine*/
    
/*form styles*/
#msform {
	width: 900px;
	margin: 1px auto;
	text-align: center;
	position: relative;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: gray;
	text-transform: uppercase;
	font-size: 15px;
	width: 16.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 28px;
	line-height: 28px;
	display: block;
	font-size: 13px;
	color: white;
	background: gray;
	border-radius:10px;
	margin: 0 auto 7px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: black;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #069;
	color: white;
}


  /*---- fine formatazzione progress bar ordine*/  
  
  

 

