
{% extends "::base.html.twig" %}

{% block title %}Riepilogo{% endblock %}

{% block corpo %}

     <section class="t1" >
	         <table class="table table-hover">
                     <caption> <h4>Operazione - <span>Effettuata</span></h4></caption>
	           {%for item in riepilogo%}
			<tr><th class="span5">{{item.tipo}}</th><td >{{item.contenuto}}</td></tr>
		  {%endfor%}
                 </table>
     </section>
{% endblock %}